.btn {
  /* display: inline-block; */
  background: #8F00FF;
  border-radius: 4px;
  padding: 18px 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn:hover {
  background: #741BBA;
}

.btn__card {
  color: white;
  background: #8F00FF;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn__card:hover {
  background: #fff;
  color: #8F00FF;
  border-style: solid;
  border-color: #8F00FF;
  border-radius: 4px;
  border-width: 1px;
}

.btn__card--white {
  display: flex;
  /* align-items: start; */
  color: #8F00FF;
  background: white;
  border-style: solid;
  border-color: #8F00FF;
  border-radius: 4px;
  border-width: 1px;
  padding: 18px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn__card--services--white {
  display: flex;
  align-items: start;
  color: #8F00FF;
  background: white;
  border-style: solid;
  border-color: #8F00FF;
  border-radius: 4px;
  border-width: 1px;
  padding: 16px 39px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn__card--services--white:hover {
  background: #8F00FF;
  color: #fff;
}

.btn__card--services--purple {
  display: flex;
  align-items: start;
  color: #fff;
  background: #8F00FF;
  border-style: solid;
  border-color: #8F00FF;
  border-radius: 4px;
  border-width: 1px;
  padding: 16px 39px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn__card--services--purple:hover {
  background: #fff;
  color: #8F00FF;
  border-style: solid;
  border-color: #8F00FF;
  border-radius: 4px;
  border-width: 1px;
}

.btn__card--last {
  color: white;
  background: none;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  border-width: 1px;
  padding: 18px 39px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  
}

.btn__card--white:hover {
  background: #8F00FF;
  color: #fff;
}